{% extends "index.html.twig" %}


{% block title %} Liste des articles - {{ parent() }}{% endblock %}


{% block body %}

    {# TEMPLATE DU MENU DASHBOARD liste des membres #}
<div class="container-fluid">
    <div class="row d-flex flex-wrap">

 <div class="alert alert-secondary text-center p-2 col-12" role="alert" style="margin-bottom: 0;">Bienvenue sur votre panel M. {{ user.MEM_NOM }} {{ user.MEM_PRENOM }}</div>


    


      <section id="sidebar"> 
        <div id="sidebar-nav">
          <br><br>
          <ul>

            {# PRIVILEGES DANS LE DASHBOARD #}

            <li><a href="/dashboard"><i class="fa fa-desktop"></i>Mon Profil</a></li>

            {% if role == "Redacteur" or role == "Administrateur" %}
            <li><a href="/categories"><i class="fa fa-sitemap"></i>Catégories</a></li>
            <li><a href="/Article/Add"><i class="far fa-newspaper"></i>Ajouter un article</a></li>  
            <li><a href="/dashboard/articles"><i class="far fa-newspaper"></i>Liste des articles</a></li>
            {% endif %}

            {% if role == "Administrateur" %}
            <li><a href="/Listemembre"><i class="fa fa-users"></i class="text-center">Utilisateurs</a></li>
            <li><a href=""><i class="fa fa-desktop"></i class="text-center">Modfiier le CSS</a></li>
            {% endif %}

          </ul>
        </div>
      </section>


   

    <table class="table table-striped mx-auto col-8" style="margin-top: 3em;">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Titre</th>
            <th scope="col">Date</th>
            <th scope="col">Auteur</th>
            <th scope="col">Statut</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

    {% for article in allArticles %}
              <tr>
                <th scope="row"><a href="">{{ article.ID_ARTICLE }}</a></th>
                <td>{{ article.ART_TITRE }}</td>
                <td>{{ article.ART_DATEAJOUT }}</td>
                <td>{{ article.ART_AUTEUR }}</td>
                <td>
                {% if article.ART_STATUT == 0 %}
                    Attente
                {% elseif article.ART_STATUT == 1 %}
                    En ligne
                {% elseif article.ART_STATUT == 2 %}
                    Refusé
                {% endif %}
                </td>
                
                <td>
                    
                    <div class="btn-group" role="group">

                        {% if article.ART_STATUT == 0 %}
                        <a class="btn btn-secondary" href="" data-toggle="tooltip"  title="Valider l'article"><i class="far fa-eye"></i></a>
                        <a class="btn btn-primary" href="" data-toggle="tooltip"  title="Valider l'article"><i class="fas fa-pencil-alt"></i></a>
                        <a class="btn btn-success" href="" data-toggle="tooltip"  title="Valider l'article"><i class="fas fa-check-circle"></i></a>
                        <a class="btn btn-warning" href="" data-toggle="tooltip"  title="refuser l'article"><i class="fas fa-times-circle"></i></a>
                        {% endif %}
                                                
                        
                        {% if article.ART_STATUT == 1 %}
                        <a class="btn btn-secondary" href="" data-toggle="tooltip"  title="Valider l'article"><i class="far fa-eye"></i></a>
                        <a class="btn btn-primary" href="" data-toggle="tooltip"  title="Valider l'article"><i class="fas fa-pencil-alt"></i></a>
                        <a class="btn btn-secondary" href="" data-toggle="tooltip"  title="Valider l'article"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" href="" data-toggle="tooltip"  title="Supprimer l'article"><i class="far fa-trash-alt"></i></a>
                        {% endif %}

                        {% if article.ART_STATUT == 2 %}
                        <a class="btn btn-secondary" href="" data-toggle="tooltip"  title="Valider l'article"><i class="far fa-eye"></i></a>
                        <a class="btn btn-primary" href="" data-toggle="tooltip"  title="Valider l'article"><i class="fas fa-pencil-alt"></i></a>
                        <a class="btn btn-secondary" href="" data-toggle="tooltip"  title="Valider l'article"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" href="" data-toggle="tooltip"  title="Supprimer l'article"><i class="far fa-trash-alt"></i></a>
                        {% endif %}

                    </div>

                </td>
            </tr>
    {% endfor %}

        </tbody>
    </table>

</div>
</div>

<br><br><br>

{% endblock %}