{% extends "index.html.twig" %}


{% block title %} Dashboard - {{ parent() }}{% endblock %}


{% block body %}

    {# TEMPLATE DU MENU DASHBOARD liste des membres #}
<div class="container-fluid">
    <div class="row d-flex flex-wrap">

 <div class="alert alert-secondary text-center p-2 col-12" role="alert" style="margin-bottom: 0;">Bienvenue sur votre panel M. {{ user.MEM_NOM }} {{ user.MEM_PRENOM }}</div>


    


      <section id="sidebar"> 
        <div id="sidebar-nav">
          <br><br>
          <ul>

            {# PRIVILEGES DANS LE DASHBOARD #}

            <li><a href="/dashboard"><i class="fa fa-desktop"></i>Mon Profil</a></li>

            {% if role == "Redacteur" or role == "Administrateur" %}
            <li><a href="/categories"><i class="fa fa-sitemap"></i>Catégories</a></li>
            <li><a href="/Article/Add"><i class="far fa-newspaper"></i>Ajouter un article</a></li>  
            <li><a href="/dashboard/articles"><i class="far fa-newspaper"></i>Liste des articles</a></li>
            {% endif %}

            {% if role == "Administrateur" %}
            <li><a href="/Listemembre"><i class="fa fa-users"></i class="text-center">Utilisateurs</a></li>
            <li><a href=""><i class="fa fa-desktop"></i class="text-center">Modfiier le CSS</a></li>
            {% endif %}

          </ul>
        </div>
      </section>


   

    <table class="table table-striped mx-auto col-8" style="margin-top: 3em;">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Email</th>
            <th scope="col">Rôle</th>
        </tr>
        </thead>
        <tbody>

    {% for contact in allContact %}
              <tr>
                <th scope="row"><a href="">{{ contact.ID_MEMBRE }}</a></th>
                <td>{{ contact.MEM_NOM }}</td>
                <td>{{ contact.MEM_PRENOM }}</td>
                <td>{{ contact.MEM_EMAIL }}</td>
                <td>
                {% if contact.ROLE == 0 %}
                    Visiteur
                {% elseif contact.ROLE == 1 %}
                    Rédacteur
                {% elseif contact.ROLE == 2 %}
                    Administrateur
                {% endif %}
                </td>

                <td>
                    
                    <div class="btn-group" role="group">

                        {% if contact.MEM_ACTIF == 0 %}
                        <a class="btn btn-success" href="/validation/user/{{ contact.ID_MEMBRE }}" data-toggle="tooltip"  title="Valider l'inscription"><i class="fas fa-user-check"></i></a>
                        <a class="btn btn-warning" href="" data-toggle="tooltip"  title="refuser l'inscription"><i class="fas fa-times-circle"></i></a>
                        {% endif %}
                                                
                        
                        {% if contact.ROLE == 1 %}
                        <a class="btn btn-danger" href="" data-toggle="tooltip"  title="Supprimer l'utilisateur"><i class="far fa-trash-alt"></i></a>
                        {% endif %}
                    </div>

                </td>
            </tr>
    {% endfor %}

        </tbody>
    </table>

</div>
</div>



{% endblock %}