{% extends "index.html.twig" %}
{% block title %} Accueil - {{ parent() }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        {% if pageResultat == 1 %}
            <h1 class="display-4">Résultat de la recherche : {{ searchResult }}</h1>
        {% else %}
            <h1 class="display-4 text-center">Articles</h1>
        {% endif %}
    </div>
    <div class="container">
        {# ==========================================[RESULTAT DE RECHERCHE]================================================= #}
        {% for article in articleData %}
            <div class="jumbotron">
                <h1 class="display-4">{{ article.Titre }}</h1>
                <p class="lead">{{ article.Description }}</p>
                <hr class="my-4">
                <p>{{ article.Auteur }}</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Consulter l'article</a>
            </div>
        {% endfor %}
        {# =================================================================================================================== #}


        {# ==========================================[AFFICHAGE DES ARTICLES]================================================= #}
        
        {% for article in articleList %}
            <div class="row"><div class="mx-auto">
            <div class="jumbotron">
                <h1 class="display-4">{{ article.Titre }}</h1>
                <div class=""> <img src="{{ article.ImageRepository }}" class="rounded" alt="" width="304" height="236"> </div>
                <p class="lead">{{ article.Description }}</p>
                <hr class="my-4">
                <p>{{ article.Auteur }} - {{ article.DateAjout }}</p>
                <a class="btn btn-secondary btn-lg" href="#" role="button">Consulter l'article</a>
            </div></div>
            </div>
        {% endfor %}
        
    </div>


{% endblock %}